.hero-img {
    height: 400px;
    width: 100%;
    background: url('../img/hero-footer-mobile.png') no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .hero-img {
        background: url('../img/hero-footer-tablet.png') no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img {
        background: url('../img/hero-footer-desk.png') no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .hero-img {
        height: 600px;
    }
}